html, body {
    margin: 0 auto;
    background-image: url(../assets/wallpapersden.com_ghost-pokemon_1920x1080.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}